# ▶️ Composer
/vendor/
/.composer/cache/

# ▶️ Docker
/docker/*.log
*.pid

# ▶️ IDE / Редакторы
.idea/
.vscode/

# ▶️ PHPUnit
.phpunit.result.cache
coverage/

# ▶️ Логи и временные файлы
*.log
*.cache
*.tmp
*.old

# ▶️ MacOS
.DS_Store
.AppleDouble
.LSOverride

# ▶️ Linux
*~

# ▶️ Windows
Thumbs.db
desktop.ini

# ▶️ Персональные и секретные конфиги
.env
.env.*

